# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Introduction to Data Science Tools
- Basic Arithmetic Operations
- Conversion of Time Units
- Commonly Used Libraries in Data Science
- Development Environment Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools             |
|--------------------------------|
| Jupyter Notebook               |
| RStudio                        |
| Apache Zeppelin               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
a

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
m = 200/60
m

3.3333333333333335

## Author
Faizan Ali Awan